<%- include('../layout.ejs'); %>

<div class="container mt-5">
  <h1>Votre profil</h1>
  <div class="row mt-5">
    <aside class="col-sm-6 col-md-4 mb-5">
      <img src="<%= user.profile.picture %>" alt="" class="img-fluid mb-3" />
      <p>Nom : <%= user.profile.firstname %></p>
      <p>Prénom : <%= user.profile.lastname %></p>
      <p>Email : <%= user.email %></p>
      <p>Adresse : <%= user.address %></p>
      <a href="/edit-profile" class="btn btn-primary">Modifier vos informations</a>
    </aside>

    <section class="col-sm-6 col-md-8">
      <h3>Historique</h3>
    </section>
  </div>
</div>
